header {
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 0px;
    margin-bottom: 30px;
}

.container {
    display: flex;
    margin: 0px 200px;
}

.dflex {
    display: flex;
    flex: 1;
}

.menu_principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.search_inst {
    justify-content: center;
}

.search_button {
    display: flex;
    align-items: center;
    background-color: #efefef;
    width: 250px;
    border-radius: 8px;
    height: 40px;
    padding: 5px;
}

.search_button input {
    background: none;
    border: none;
    width: 100%;
    padding-left: 15px;
}

.search_button input:focus-visible {
    outline: none;
}

.user_inst img {
    width: 40px;
    border-radius: 40px;
}

.logo_inst {
    justify-content: flex-start;
}

.logo_inst img {
    width: 103px;
    height: 29px;
    margin-top: 10px;
}

#userInfo {
    display: flex;
    flex: 1;
}

.profile-img {
    flex: .5;
    justify-content: center;
    display: flex;
}

.profile-name {
    flex: 1;
    display: flex;
}