*{
    box-sizing: border-box;
    padding: 0;
    margin: 5px auto;
    
}

img {
    width: 50px;
    cursor: pointer;

}

.navbar {
    background-color: rgb(241, 10, 10);
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.iconos i{
 margin-right: 20px;
 cursor: pointer;

}

.iconos i:hover{
    color: beige;
}